#Mengabaikan folder virtual environment dan cache Python
.venv/
__pycache__/

# Mengabaikan folder data, models, dan file .env (akan kita kelola ini nanti)
#data/
#models/
.env/

# Mengaaikan file mentah yang tidak perlu di unggah
data/raw/
models/sentence_transformers/
# Mengabaikan Latihan Praktik txt
*txt
*log
# Model AI besar (unduh terpisah dari Hugging Face)
*.gguf
*.safetensors
